body, main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: black;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
}

body:not([data-nav="true"]) > #root > section > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #root > section > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] > #root > section > main {
  transform: translateY(-50%);
}

body[data-nav="true"] > #root > section > nav > #nav-links {
  transform: translateY(0%) scale(1);
}

main {
  background-image: url('../src/images/simon-fitall-tvleqH3p1os-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-size: 300%;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
  animation: pan-image 200s linear infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main > header {
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 3rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  
  white-space: nowrap;
  text-align: center;
}

main > header > span {
  font-size: 2rem;
  text-align: start;
  width: 100%;
}

main > header > h1 {
  font-size: 5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0px 0px 0.5rem white;
}

main > header > h1:before, 
main > header > h1:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  border: 2px solid white;
  border-radius: 2px;
}

main > header > h1:before {
  top: 30%;
  left: 1.5rem;
}

main > header > h1:after {
  top: 30%;
  right: 1.5rem;
}

main > header > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 0;
  font-size: .8rem;
}

main > header > ul > li {
  list-style-type: none;
}

main > header > ul > li > a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > header > ul > li > a:hover {
  transform: scale(1.2);
  transition: transform .2s ease-in-out;
}

main > header > ul > li > a > svg,
main > header > ul > li > a > svg > path {
  height: 40px;
  width: 40px;
  padding: 1rem;
}

main > .bg-overlay {
  background-color: rgb(32,39,49);
  opacity: .8;
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0%;
  top: 0%;
  z-index: 2;
}

#nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  overflow-x: hidden;
}

#nav-links {
  display: flex;
  overflow-x: scroll;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 5rem;
  transform: translateX(-50%);
  background-color: rgb(33, 155, 243);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  animation: pulse 2s infinite;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.96);
}

#nav-toggle > .i {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(249, 231, 224);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#nav-links > .nav-link {
  text-decoration: none;
  cursor: pointer;
  scroll-snap-align: start;
}

#nav-links > .nav-link:hover {
  transform: scale(.95);
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#nav-links > .nav-link > .nav-link-label {
  color: white;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
  width: max(20vw, 400px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
}

.about {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 3;
  margin: 0 20%;
  padding: 3rem 0;
  justify-content: center;
  align-items: center;
}

.about > h1 {
  font-size: 5rem;
  letter-spacing: .5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0px 0px 0.5rem white;
  text-align: center;
}

.about > h1:after {
  display: block;
  content: "";
  height: 100px;
  width: 4px;
  background-color: white;
  margin: 0 1rem 0 0;
}

.about > p {
  font-size: 1.2rem;
}

.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 3;
  justify-content: center;
  align-items: start;
  padding: 3rem 0;
  margin: 1rem;
}

.skills > h1 {
  font-size: 5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 0px 0px 0.5rem white;
  text-align: center;
}

.skills > div {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid white;
}

.skills > div > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
}

.skills > div > div > ul {
  list-style: none;
  text-align: starts;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills > div > div > ul > li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills > div > div > ul > li > svg {
  height: 50px;
  width: 50px;
}

.projects {
  min-height: 80vh;
  min-width: 80vw;
  display: grid;
  position: relative;
  filter: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  z-index: 3;
  padding: 1rem;
  text-align: center;
}

.projects > div {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
}

.projects > h1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  text-transform: uppercase;
  text-shadow: 0px 0px 0.5rem white;
  border: 2px solid white;
  padding: 2rem;
  z-index: 4;
}


.projects > div > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin: 2rem;
  color: white;
}

.projects > div:hover {
  cursor: pointer;
}

.projects > div:hover > h1 {
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.projects > div:hover > div {
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 900ms;
  font-size: 1.1rem;
}

.projects > div > div > .svgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.projects > div > div > .svgs > svg {
  height: 50px;
  width: 50px;
  margin: 0 1rem;
}

.projects > div > div > div {
  margin: 1rem;
}

.projects > div > div > div > a {
  padding: .5rem 1rem;
  background-color: white;
  color: black;
  margin: 2rem;
  z-index: 3;
}

.projects > div > div > div > a:hover {
  opacity: .5;
}

.projects > .one {
  background-image: url('../src/images/nextjs-cookbook-5eel0530o-etchmon.vercel.app_.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
  opacity: .9;
  border-radius: 3rem 0 0 0;
}

.projects > .one:hover {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  background-image: none;
  background-color: black;
}

.projects > .two {
  background-image: url('../src/images/etchmon.github.io_shopping-cart_.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
  opacity: .9;
  border-radius: 0 3rem 0 0;
}

.projects > .two:hover {
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  background-image: none;
  background-color: black;
}

.projects > .three {
  background-image: url('../src/images/etchmon.github.io_weather-app_.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
  opacity: .9;
  border-radius: 0 0 0 3rem;
}

.projects > .three:hover {
  border-right: 2px solid white;
  border-top: 2px solid white;
  background-image: none;
  background-color: black;
}

.projects > .four {
  background-image: url('../src/images/etchmon.github.io_cv-application_.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
  opacity: .9;
  border-radius: 0 0 3rem 0;
}

.projects > .four:hover {
  border-left: 2px solid white;
  border-top: 2px solid white;
  background-image: none;
  background-color: black;
}

.resume {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 3;
}

.hide-element {
  opacity: 0;
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ANIMATIONS */
@keyframes pan-image {
  0% {
    background-position: 21% 92%;
    background-size: 350%;
  }

  20% {
    background-position: 35% 84%;
    background-size: 350%;
  }
/* View 2 */
  20.0001% {
    background-position: 72% 5%;
    background-size: 300%;
  }

  40% {
    background-position: 57% 17%;
    background-size: 300%;
  }
  /* View 3 */
  40.0001% {
    background-position: 15% 24%;
    background-size: 200%;
  }

  60% {
    background-position: 30% 37%;
    background-size: 200%;
  }
  /* View 4 */
  60.0001% {
    background-position: 46% 100%;
    background-size: 350%;
  }

  80% {
    background-position: 32% 80%;
    background-size: 350%;
  }
  /* View 5 */
  80.0001%{
    background-position: 20% 30%;
    background-size: 200%;
  }

  100% {
    background-position: 21% 70%;
    background-size: 200%;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 155, 243, 0.8);
  }

  70% {
    box-shadow: 0 0 0 24px rgba(0, 191, 165, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 191, 165, 0);
  }
}

@media (max-width: 1600px) {
  .projects > div:hover > div {
    font-size: 1rem;
  }

  .projects > div > div > .svgs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .projects > div > div > .svgs > svg {
    height: 35px;
    width: 35px;
    margin: 0 .5rem;
  }

  .projects > div > div > div {
    margin: .3rem;
  }

  .about {
    margin: 0 5%;
  }

}

@media (max-width: 900px) {
  main {
    font-size: .8rem;
  }

  main > header > h1 {
    font-size: 3rem;
  }

  main > header > span {
    font-size: 1.5rem;
  }

  main > header > ul > li > a > svg,
  main > header > ul > li > a > svg > path {
    height: 30px;
    width: 30px;
    padding: 1rem;
  }

  .skills {
    justify-content: start;
  }

  .about {
    flex-direction: column;
  }

  .projects > div:hover > div {
    font-size: .8rem;
  }

  .projects > div > div > .svgs > svg {
    height: 20px;
    width: 20px;
    margin: 0 .3rem;
  }

  .projects > div > div > div {
    margin: .3rem;
  }
}

@media (max-width: 700px) {
  main {
    font-size: .7rem;
    overflow: hidden;
  }

  #nav-links > .nav-link > .nav-link-label {
    margin-left: 1rem;
  }

  main > header > h1 {
    font-size: 2.3rem;
  }

  main > header > h1:before {
    top: 35%;
    left: 2.2rem;
  }

  main > header > h1:after {
    top: 35%;
    right: 2.5rem;
  }

  main > header > span {
    font-size:1.8rem;
  }

  main > header > ul {
    margin: 0;
    display: flex;
  }

  main > header > ul > li > a > svg,
  main > header > ul > li > a > svg > path {
    height: 30px;
    width: 30px;
    padding: .3rem;
  }

  .skills {
    justify-content: center;
    font-size: 1rem;
  }

  .skills > h1 {
    font-size: 3rem;
  }

  .projects {
    grid-template-columns: repeat(4, 100vw);
    grid-template-rows: 1fr;
    height: 80vh;
    padding-bottom: 12rem;
    width: 100vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .projects > .one,
  .projects > .two, 
  .projects > .three,
  .projects > .four {
    border-radius: 0rem;
    scroll-snap-align: start;
    padding: 0 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .projects > .one:hover,
  .projects > .two:hover, 
  .projects > .three:hover,
  .projects > .four:hover {
    background-color: trasnparent;
    border: none;
  }
  

  .projects > h1 {
    opacity: 1;
    top: 5%;
    left: 50%;
    position: fixed;
  }

  .projects > div:hover > div {
    font-size: 1rem;
  }

  .projects > div > div > .svgs > svg {
    height: 30px;
    width: 30px;
    margin: 0 .2rem;
  }

  .projects > div > div > div {
    margin: .3rem;
  }
}

